.profile-image{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0;
    margin-left: 0;
}
.profile-image img{
    height: auto;
    width: 100%;
    border-radius: 50%;
    margin-right: 0;
}
