.search-bar{
    width: 40rem;
    height: 1.5rem;
    
    border-radius: 40px;
    background-color: rgb(45, 45, 45);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.search-input{
    width: 90%;
    display: flex;
    flex-direction: row;
    
}
.input-field{
    width: 80%;
    height: 80%;
    background-color: transparent;
    border: none;
    color: #e2dfdf;
    font-size: 14px;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
}


@media (max-width: 768px) {
  .search-bar {
    width: 14rem;
    height: 2rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  .search-input {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .input-field {
    width: 100%;
    font-size: 13px;
    padding-left: 8px;
  }
}
